{% extends 'bouf/menu.html' %}

{% block title %}Ajouter un Stock Aliment{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/formulair.css' %}">

<div class="container">
    <header>Formulaire d'ajout de Stock Aliment</header>
    <div class="souligne"></div>

    <form action="{% url 'ajouter_stock_aliment' %}" method="post">
        {% csrf_token %}

        <div class="fields">
            <div class="input-field">
                <label for="id_aliment">Aliment</label>
                <input type="text" id="id_aliment" name="id_aliment" 
                placeholder="Entrez le id aliment" required>

                <!-- <select name="id_aliment" id="id_aliment" required>
                    <option value="">Sélectionnez un Aliment</option>
                    {% for aliment in aliments %}
                        <option value="{{ aliment.id_aliment }}">{{ aliment.id_aliment }}</option>
                    {% endfor %}
                </select> -->
            </div>

            <div class="input-field">
                <label for="fournisseur_aliment">Fournisseur</label>
                <input type="text" id="fournisseur_aliment" name="fournisseur_aliment" 
                       placeholder="Entrez le nom du fournisseur" required>
            </div>

            <div class="input-field">
                <label for="stock_entree">Quantité (kg)</label>
                <input type="number" id="stock_entree" name="stock_entree" 
                       min="0.1" step="0.1" placeholder="Quantité reçue" required>
            </div>

            <div class="input-field">
                <label for="date_reception">Date de réception</label>
                <input type="date" id="date_reception" name="date_reception" required>
            </div>

            <div class="input-field">
                <label for="prix_aliment">Prix (€/kg)</label>
                <input type="number" id="prix_aliment" name="prix_aliment" 
                       min="0" step="0.01" placeholder="Prix au kg" required>
            </div>
        </div>

        <div class="buttons">
            <a href="{% url 'stocktableau' %}" class="btnRetour">
                <i class="fa-solid fa-rotate-left"></i> Retour
            </a>
            <button type="submit" class="nextBtn">
                <span class="btnText">Enregistrer</span>
                <i class="fa-regular fa-paper-plane"></i>
            </button>
        </div>
    </form>
</div>


{% endblock %}